@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

body {
    background-image: linear-gradient(to right, rgb(27,27,27), purple);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgb(27,27,27);

/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

header {
    padding: 37px 20px;
    width: 100%;
    background-color: #3a393983;
    box-shadow: 1px 1px 10px 1px #26003536;
    position: fixed;
    top: 0px;
    left: 0;
}

#logo {
    display: flex;
    justify-content: space-between;
    left: 50px;
    width: 200px;
    position: fixed; top: -60px;
  }

  button {
    position: fixed; top: 17px;
    color: #fff;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    box-shadow: 1px, 1px, 1px, #fff;
    border-color: transparent;
    background-color: #a742fa;
    padding: 10px;
    right: 2%;
    cursor: pointer;
    }

    button:hover{
      background-color: #a57ffc;
    }


/*menu*/

.containermenu{
    width: 100px;
    margin-right: 50px;
}

a {text-decoration: none;}
  
  .container {
    margin-right: 0;
    width: 164vh;
    text-align: center;
  }
  
  ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    width: 100%;
    
  }

  ul ion-icon{
    font-size: 30px;
    margin-top: 5px;
  }
  
  nav {
    
    font-size: 0;
    width: 100%;
    
      
  }
  
  nav > ul > li {
    display: inline-block;
      font-size: 14px;
      padding: 0 10px;
      position: relative;
  }
  
  nav > ul > li > a {
    color: #bebbbb;
      display: block;
      padding: 15px 0;
      border-bottom: 3px solid transparent;
      transition: all .3s ease;
      font-size: 25px;
      text-align: center;
  }
  nav > ul > li:hover > a {
    color: rgb(255, 255, 255); 
      border-bottom: 3px solid rgb(255, 255, 255);
  }
  
  .mega-menu {
      background:  #3a393983;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.5s linear;
      position: absolute;
      left: 0;
      padding-bottom: 2px;
  }
  .mega-menu h3 {
    
    color: #ffffff;
    margin-top: 5px;
    
    
}
    
  
  .mega-menu .container {
      display: flex;
      color: #ffffff;
      margin-top: 0px;
      max-width: 100%;
      
      
  }
  .mega-menu .item {
    flex-grow: 1;
      margin: 0 1px;  
  }
  .mega-menu a {
    border-bottom: 1px solid #ddd;
      color: #a57ffc;
      display: block;
      padding: 5px 0;
      
  }
  .mega-menu a:hover {color: #e5ccfa;}
  
  
  .dropdown {position: static;}
  
  .dropdown:hover .mega-menu {
      visibility: visible;
      opacity: 1;
  }
 /*-------*/


.containerproje{
    position: relative;
}

.containerproje .slide-container .slide{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    padding: 1px 9%;
    padding-bottom: 1px;
    padding-top: 1px;
    margin-top: 4.5%;
    position: fixed;
    background-image: none;
}

.containerproje .slide-container .slide .contentproje{
    
    animation: slideContent .4s linear .4s backwards;
}

@keyframes slideContent{0%
{
    opacity: 0;
    transform: translateX(-50px);
}
}


.containerproje .slide-container .slide .contentproje h3{
    font-size: 35px;
    color:  #a742fa;
    font-family: 'Noto Sans', sans-serif;
}

.containerproje .slide-container .slide .contentproje p{
    font-size: 16px;
    color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
    width: 40%;
    height: 10%;

}

.containerproje .slide-container .slide .contentproje .bntproj{
    margin-top: 10px;
    display: inline-block;
    background:  #a742fa; 
    color: #ffffff;
    font-size: 17px;
    padding: 9px 40px;
    border-radius: 5px;
    border: 2px solid  #a742fa;
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
    
}

.containerproje .slide-container .slide .contentproje .bntproj:hover{
    background:  #a57ffc;
    border: 2px solid #a57ffc;
    color: #ffffff;
}

.containerproje .slide-container{
    display: none;
}

.containerproje .slide-container.active{
    display: block;
}

.containerproje .slide-container:nth-child(1) .slide{
    /*background: url(./img/1\ \(1\).png);*/
    background-size: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.containerproje .slide-container:nth-child(2) .slide{
    /*background: url(./img/2.png);*/
    background-size: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.containerproje .slide-container:nth-child(3) .slide{
    /*background: url(./img/3.png);*/
    background-size: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    
}

.containerproje .slide-container:nth-child(4) .slide{
    /*background: url(./img/4.png);*/
    background-size: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.buttoncontainer #prev, 
.buttoncontainer #next {
    position: fixed;
    top:50%;
    transform: translateY(-50%);
    color: #ffffff;
    background: #a742fa;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 50px;
}

.buttoncontainer #prev:hover, 
.buttoncontainer #next:hover{
    background: #a57ffc;
}
.buttoncontainer #prev{
    left: 20px;
    
}

.buttoncontainer #next ion-icon{
  position: fixed;
  display: flex;
  top: 10px;
  left: 15px;
  
}

.buttoncontainer #prev ion-icon{
  position: fixed;
  display: flex;
  top: 10px;
  right: 15px;
  
}

.buttoncontainer #next{
    right: 20px;
}


.dropdown {
  position: relative;
  display: inline-block;
}
  

@media (max-width: 700px){

    nav{
        width: 0;
    }
    .buttoncontainer #prev{
        left: 0px;
        top: 60%;
    }

    .buttoncontainer #next{
        right: 0px;
        top: 60%;
    }
    
    .dropdown:hover .dropdown-child {
      display: block;
      max-width: 20px;
      margin-top: -5px;
      font-size: 0px;
      background-color: transparent;
      color: #fff;
      
    }

    .dropdown:hover .dropdown-child a{
        position: top;
        margin-top: 40px;
        background-color: #a57ffc;
    }

    ion-icon{
      font-size: 25px;
      display: inline-block;
      margin-right: 1px;
      
    }
    

    .slide {
        top: 10%;
        left: 5%;
    }

    #logo {

        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 120px;
        position: fixed; top: -20px;
        left: 30px;
        }
    
        button {
    
            font-size: 16px;
            width: 200px;
            
        }

        section {
            
            text-align: center;
            padding: 1px 1px;
            overflow-x: hidden;
        }  

        .containerproje .slide-container:nth-child(1) .slide h3 {
          text-align: center;
          margin-bottom: 6vh;
          margin-left: -22px;
          margin-right: 22px;
          font-size: 30px;
        }

        
        .containerproje .slide-container:nth-child(2) .slide h3 {
          text-align: center;
          margin-bottom: 6vh;
          font-size: 30px;
        }

        
        .containerproje .slide-container:nth-child(3) .slide h3 {
          text-align: center;
          margin-bottom: 6vh;
          margin-left: -22px;
          margin-right: 22px;
          font-size: 30px;
        }

        
        .containerproje .slide-container:nth-child(4) .slide h3 {
          text-align: center;
          margin-bottom: 6vh;
          margin-left: -22px;
          margin-right: 22px;
          font-size: 30px;
        }

        .containerproje .slide-container:nth-child(1) .slide p {
        
        width: 70vw;
        height: 25vh;
        text-align: center;
        font-size: 15px;

        }
        .containerproje .slide-container:nth-child(2) .slide p {
            
            width: 70vw;
            height: 25vh;
            text-align: center;
            font-size: 15px;         
            
        }
            .containerproje .slide-container:nth-child(3) .slide p {
            
                width: 70vw;
                height: 25vh;
                text-align: center;
                font-size: 15px;                
                
                } 
                .containerproje .slide-container:nth-child(4) .slide p {
            
                    width: 70vw;
                    height: 25vh;
                    text-align: center;
                    font-size: 15px;
                    
                    }           
        .contentproje {
            
            text-align: center;
            height: 50vh;
        } 
        
        .mega-menu .container {
          width: 100vw;
        }
        .mega-menu {
          margin-top: -2px;
        }

        
    .containerproje .slide-container .slide .contentproje .bntproj{
      margin-top: 10px;
      margin-bottom: 5px;
      
     
     
    }
  }


@media(min-width: 700px){
    .buttoncontainer #prev{
      left: 0px;
      top: 60%;
    }

    .buttoncontainer #next{
      right: 0px;
      top: 60%;
    }    
    .slide {
      top: 10%;  
    }
    .containerproje .buttoncontainer .slide-container .slide .contentproje p{
        font-size: 16px;
        color: #ffffff;
        font-family: 'Noto Sans', sans-serif;
        width: 70%;
        height: 10%;
    
    }

    .mega-menu .container {
      width: 100vw;
    }   
}

